.mt-10{
    margin-top: 10vh;
}

.mb-10{
    margin-bottom: 10vh;
}

.padding-top-lg{
    padding-top: 10vh;
}

.padding-bottom-lg{
    padding-bottom: 10vh;
}

.banner-bg{
    background-color: #979595;
}

#banner{
    border-radius: 1em;
}

.mt-mid{
    top: 50vh !important;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.borderit{
    border-width: 20px !important;
    border-radius: 1em;
    border-color: black;
}

.option_Style{
    max-width: 250px !important; 
    background-color: grey;
    
}

.hov:hover {
  z-index: 1000;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  border-width: 1px;
  border-color: black;
}

.dropdownItems:hover {
    cursor: pointer;
    background-color: gray;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .questionListBox {
      height: 400px;
      width: 300px;
  }